html{
  background-image:url(../images/thatView.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  font-family:'Helvetica Neue', sans-serif;	
}
p{
  font-weight:100;
  letter-spacing:2;
  font-size:20px;
}
.info-box{
  width:800px;
  height:450px;
  background:rgba(0,0,0,0.7);
  padding:40px;
  color:white;
  margin:0 auto;
  margin-top:100px;
  text-align:center;
}
.prof-pic{
  border-radius:50%;
  height:200px;
  width:200px;
}
.icons{
  font-size:40px;
}
.icons a{
  color:white;
}
.line-break{
  width:300px;
  margin:0 auto;
  border-top:1px solid white;
}
.image-cred{
  position:fixed;
  bottom:0;
  left:0;	
}
