.reservation-box{
    height: 200px;
    text-align: center;
    font-size: 12px;
    /*overflow:auto;*/
    transform: translate(10%, 90%);
    position: fixed;
    margin-top: 20%

}

#reservation {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    transform: translate(10%, 100%);
    position: fixed;
}

#reservation td, #reservation th {
    border: 1px solid #ddd;
    padding: 8px;
}

#reservation tr:nth-child(even){background-color: #f2f2f2;}

#reservation tr:hover {background-color: #ddd;}

#reservation th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;

}
